*{
    padding: 0;
    margin: 0;
     box-sizing: border-box ;
}
body{
     font-family: "PT Sans", sans-serif;
}
a{
    text-decoration: none;
}
.navbar{
    transition: background-color 1s ;
}
.navbar img
{
width: 40px;
margin-top: 15px;
border-radius: 50%;
}
.navbar-nav .nav-link.active{
    color: white;
}
.navbar-nav .nav-link{
    color: white;
}
#my-navbar .nav-item{
    position: relative;
}
.navbar-nav .nav-link.active::after{
    content:"";
    position: absolute;
   width:50px;
   height: 2px;
   left: 8%;
   bottom: 20%;
   transform: translateX(-50);
   background-color:white;
}
.navbar-nav .nav-link::after {
    content: " ";
    position: absolute;
    height: 2px;
    left: 10%;
    bottom: 20%;
    background-color:white;
    transform: translateX(-50); 
}


/* start home */
header {
    height: 100vh;
    background: url(./../images/pexels-matheus-de-moraes-gugelmim-38060312-20284254.jpg) center center/cover no-repeat;
}
header .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  transform: translateY(50%);
  padding-top: 80px;
}
header .content h1 {
    font-size: 55px;
    color: #fff;
    font-weight: 800;
}
header .content p {
    margin: 20px 0 40px;
    color: #fff;
    font-weight: 400;
    font-size: 30px;
}
.primary-text{
    color: #f3b328;
}
.btn-primary {
    color: #fff;
    display:inline-block;
    padding: 15px 30px;
    border: 1px solid #fff;
    border-radius: 15px;
    background-color: transparent;
    
}
.btn-primary:hover{
    background: #aa780c;
}
header  a .icon i{
    color: black;
    padding: 6px;
}

header a .icon{
   width: 35px;
   height: 35px;
   background-color: white;
   border-radius: 50%;
   position: relative;
   border: 2px solid #aa780c ;
background-image: linear-gradient(#f3b328, #fff6f6);
}

header .video a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    font-style: oblique;
}
header .video a:hover{
    color: tan;
}
/* end home */

/*type of tourism */
.card-content {
padding-left: 50px;
}
.card-image{
    overflow: hidden;
}
.card-image:hover img{
    transform: scale(1.5, 1.5);
    transition:all ease 1900ms;
}
.card-content .font{
    font-size: 18px;
}
/* end type of tourism */

/* start  about */
.heading h2{
    font-size: 55px;
    text-align: center;
}
.About-content{
    margin-top: 95px;
}

.About-content p{
    font-size: 27px;
    letter-spacing:3px;
    font-weight:500;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    margin-top: 17%;
}
.About-content a{
    color: rgb(3, 209, 236);
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-style: italic;
}
.About-content a:hover{
    color: crimson;
}
.about-image img{
width: 470px;
height: 480px;
}
/* end about */

/* start destination */ 
#Destination .des-title {
  margin-top: 10px;
}
#Destination .des-items h2{
    font-size:70px;
    font-weight: 700;
    text-align: center;
 padding-top:15px ;
}
 /* .des-items p{
    font-size: 22px;
    letter-spacing: 3px;
    margin-left: 43%;
} */
/* .Destination img{
    width:550px;
    border-radius: 7px;
    padding: 10px;
} */
.des-area{
    background-color: #fff;
    height: 50px;
    text-align: center;
    border-radius: 2px;
    margin-top: 45px;
    width: 700px;
    transform: translateX(43%);
    padding-top: 10px;
    margin-bottom: 10px;
}
.des-area a:hover{
    color:crimson !important;
}

/* end destintion */

/* start city destintion */
 #City .city-image .overlay {
    position: absolute;
    top: 0px;
    left: 0%;
    right: 10%;
    bottom: 2px;
    background: rgba(0,0,0,0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .2s ease;
    opacity:0;
   
    height: 100%;
     
}
  #City .city-image:hover .overlay {
    opacity: 1;
}
.overlay .text {
    color: rgb(255, 227, 184);
    font-size: 21px;
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
/* end city destintion */

/* start contact */
#Contact img{
    filter: drop-shadow(10px 10px 10px #000);
    border-radius: 80%;
    height: 470px;
}
#Contact img:hover{
    animation: shakin 1s infinite;
}
@keyframes shakin{
 0%{
    transform: translate(1px, 1px) rotate(0deg);
 }
 10%{
    transform: translate(-1px, -2px) rotate(-1deg);
 }
 20%{
    transform: translate(-3px, 0px) rotate(1deg);
 }
 30%{
    transform: translate(1px, 2px) rotate(0deg);
 }
 40%{
    transform: translate(1px, -1px) rotate(0deg);
 }
 50%{
    transform: translate(-1px, 2px) rotate(-1deg);
 }
 60%{
    transform: translate(-1px, 2px) rotate(-1deg);
 }
 70%{
    transform: translate(3px, 1px) rotate(-1deg);
 }
 80%{
    transform: translate(-1px, -1px) rotate(1deg);
 }
 90%{
    transform: translate(1px, 2px) rotate(0deg);
 }
 100%{
    transform: translate(1px, -2px) rotate(-1deg);
 }
}
#Contact h2{
    font-size: 50px;
}
#Contact p{
    letter-spacing: 4px;
    font-family: "Montserrat", sans-serif;
    font-weight:500;
}

.contact-means .icon i{
    font-size: 20px;
    color: white;
    padding-bottom: 10px;
}
.contact-means .icon{
    width: 50px;
    height: 50px;
    background-color:rgb(5, 60, 82);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-means h3{
 font-size: 22px;
 color:black;
 font-weight: bold;
}
.content-means a{
    color: black;
    font-size: 20px;
    font-family: sans-serif;
}
 /* end contact */

/* start dis */
.lux {
    text-align: center;
    color:orangered;
 }
 .place-content h5{
        cursor: pointer;
}
.place-content .read-text{
        display: none;
}
.discover-title h3::after {
    content: "";
    width: 200px;
    height: 30px;
    background-image: url(./../image/dots.png);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translatex(-50%);
    z-index: -1;
}

.discover-title h3{
    color: #1c1c1c;
    font-weight: 900;
    font-size: 45px;
    position: relative;
    display: inline-block;
    z-index: 4;
}
.tabs .nav-tabs .nav-link{
    color: #1c1c1c;
    border: 0;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}
.tabs .nav-tabs{
    border: 0;
}
 #tabs button{
  position: relative;
}
 #tabs button::after{
  position: absolute;
  content: "";
  bottom:0;
  left:25%;
  width: 0;
  height:3px;
  background-color: black;
 }
 #tabs button.active::after {
width: 50%;
}
 
/* start form */
#form {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}
main{
    background-image: url(./../images/pexels-tima-miroshnichenko-5976864.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.container-form{
    text-align: center;
  transform: translateY(30%);
}
.form-control{
    background-color: transparent !important;
    
}
.heading{
    color: black;
    font-size: 35px;
}
.form-control p{
font-size: 18px;
}
.box{
    position:absolute;
    width: 20%;
    height:78px ;
    color: white;
    background-color: green;
    top:5%;
    left: 90%;
    border-radius: 7px;
}


.box p{
    transform: translateY(80%);
   font-size: 17px;
   font-style: italic;
}
/* end form */
/* .tabs-images img{
    width: 100%;
    height: auto;
}

 .tabs-images .layer{
  position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    background: rgba(255, 255, 255, 0.95);
    opacity: 0;
    transition: all 0.5s
 }
.tabs-images .layer:hover{
  opacity: 1;
}
 .lux {
        text-align: center;
        color:orangered;
     }
     .place-content h5{
            cursor: pointer;
    }
    .place-content .read-text{
            display: none;
    }
    .discover-title h3{
        color: #1c1c1c;
        font-weight: 900;
        font-size: 40px;
        position: relative;
        display: inline-block;
        z-index: 4;
    }
    .tabs .nav-tabs .nav-link{
        color: #1c1c1c;
        border: 0;
        font-weight: 700;
        font-size: 16px;
        cursor: pointer;
    }
    .tabs .nav-tabs{
        border: 0;
    }
     #tabs button{
      position: relative;
     }
    #tabs button::after{
      position: absolute;
      content: "";
      bottom:0;
      left:25%;
      width: 0;
      height:3px;
      background-color: black;
     }
    #tabs button.active::after {
    width: 50%;
     }
    
    


*/